@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f0f5ff;
  }

  /* Scrollbar */
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #bfdbfe transparent;
  }
  .scrollbar-thin::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #bfdbfe;
    border-radius: 20px;
  }
}

@layer utilities {
  .group-hover\:scale-102:hover {
    transform: scale(1.02);
  }
}
